/* CSS declarations go here */

html {
	font-family: 'Trebuchet MS';
}

body {
	background:url('/body_background.jpg') no-repeat 0 0;
}

#profilepic-div {
	margin: 20px 50px;
}

#uploadpic {
	position: absolute;
	left:86px;
}

#summary-div {
	position: absolute;
	top: 80px;
	left: 250px;
}

#summary-div .edit .shoutout-input {
	width:200px;
	height:50px;
	
	resize:none;
}

#calc-div {
	position:absolute;
	margin-top:30px;
	left: 65px;
}

#operation {
	width:40px;
	
	background-color: #ccc;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #000;
    font-family: 'Verdana';
    font-size: 20px;
    border:none;
}

#number {

	width:40px;
	
	background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Verdana';
    font-size: 20px;
    border:none;
}

#result-div {
	position:absolute;
	margin-top:30px;
	left: 300px;
}

#result-div .result {
	width:200px;
	height:35px;
	text-align:right;
	
	font-size:30px;
	
	resize:none;
}


