<head>
  <title>Profile</title>
</head>

<body>
  {{> hello}}
  
  <div id="profilepic-div">
  	{{> profilepic}}
  </div>
  
  <div id="summary-div" class="summary">
  	{{> summary}}
  </div>
  
  <div id="calc-div" class="calc">
  	{{> calculator}}
  </div>
  
  <div id="result-div" class="result">
  	{{> result}}
  </div>
  
</body>

<template name="hello">
  <h1>PROFILE</h1>
</template>

<template name="profilepic">

	<img src="placeholder.png" height="150" width="150">
	<br>
	<input type="button" id="uploadpic" class="uploadpic" value="Upload Picture" />

</template>

<template name="summary">
	
	<h3> I'm Shane! </h3>
	
	<div class="edit">
		<textarea cols="40" rows="5" class="shoutout-input" id="shoutout-input" type="text" placeholder="Say something Shane..." />
	</div>
	
</template>

<template name="calculator">

	<input type="button" id="operation" class="add" value="+" />
	<input type="button" id="operation" class="subtract" value="-" />
	<input type="button" id="operation" class="multiply" value="*" />
	<input type="button" id="operation" class="divide" value="/" />

	<div>
		<input type="button" id="number" class="seven" value="7" />
		<input type="button" id="number" class="eight" value="8" />
		<input type="button" id="number" class="nine" value="9" />
		<input type="button" id="operation" class="sqrt" value="&#8730;" />
	</div>

	<div>
		<input type="button" id="number" class="four" value="4"  />
		<input type="button" id="number" class="five" value="5" />
		<input type="button" id="number" class="six" value="6" />
		<input type="button" id="operation" class="sq" value="&#710;2" />
	</div>
	
	<div>
		<input type="button" id="number" class="one" value="1" />
		<input type="button" id="number" class="two" value="2" />
		<input type="button" id="number" class="three" value="3" />
		<input type="button" id="operation" class="equals" value="=" />
	</div>

	<div>
		<!-- <input type="button" id="operation" class="clear" value="C" /> -->
		<input type="button" id="number" class="zero" value="0" />
		<input type="button" id="number" class="decimal" value="." />
		<input type="button" id="operation" class="clear" value="C" />
	</div>
	
</template>

<template name="result">
	
	<textarea class="result" id="result" type="text" disabled/>
	
</template>